
.main-content__title {
  font-family: pt-serif;
}
.body {
  margin: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 1px red;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 40px 0;
}
.menu {
  font-family: Roboto;
  display: flex;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
  border: dashed 1px red;
}
.menu__item:last-child {
  padding-right: 0:
}
.logo {
  font-family: pt_serif, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}
.main-content__subtitle {
   font-family: Roboto;
}
.main-content__button {
   font-family: Roboto;
}
